doctype
html
  head
    title= 'Octopus Chat'
    script(src='../socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.1.0.js')
    script(src='/chat.js')
    //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='chat.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
        h1 🐙 Chat

   .jumbotron
      .container
       
    .container
      //
         Example row of columns
      .row
        .col-lg-6
          .container#content
          .form-group.input-group
            input.control-label.form-control#username(type='text', placeholder='what is your name?')
            input.control-label.form-control#field(type='text', class="hide", placeholder='enter text here')
            //- button#tweet(type="" class="hide" ).
            //-   Sign In
