doctype html
html
  head
    title Octopus Chat
    link(rel='icon', href='/octopus.ico', type='image/x-icon')
    script(src='../socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.1.0.js')
    script(src='/chat.js')
    link(rel='stylesheet', href='chat.css')
  body
    .navbar-header
    h1 Octopus Chat
    #mainbody
    
        #content.container
          ul
        .form-group.input-group
          input#username.control-label.form-control(type='text', placeholder='what is your name?')
          input#field.control-label.form-control.hide(type='text', placeholder='chat chat chat')
        #music.container










  //- #left
  //-       #player.container
  //-         p.
  //-           Jade is a terse and simple
  //-           templating language with a
  //-           strong focus on performance
  //-           and powerful features.fdsa fdsafdsfdsaiofj dklfjdaskl; gdjsaigjdgkldsa
  //-     #right