doctype html
html
  head
    title Octopus Chat
    link(rel='icon', href='/octopus.ico', type='image/x-icon')
    script(src='../socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.1.0.js')
    script(src='/chat.js')
    link(rel='stylesheet', href='normalize.css')
    link(rel='stylesheet', href='grid.css')
    link(rel='stylesheet', href='chat.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    .container
    h1 🐙 Chat
    .column.half
      #content
        ul
      input#username(autocomplete="off", type='text', placeholder='what is your name?')
      input#field(type='text', placeholder='chat chat chat')
    .column.half
      #music
